name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    # Pre-requisite: Install things if needed (e.g. LLVM for Frida), though actions usually have them.
    # Frida compilation might be heavy, caching is recommended.

    - name: Build
      run: cargo build --verbose
      
    - name: Run tests
      run: cargo test --verbose
